@import "_global";

*{
  box-sizing: border-box; 
  color: #e0e0e0;
}

html, body{ 
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: $Grey;
}

hr{
    width: 35%;
    margin: auto;
    border: 1px solid #3b3b3b;
}

p{
    font-size:1.25vw;
    text-align: justify;
    line-height: 1.5em;
}

h1{
    color: $LighterRed;
    font-size: 1.7vw;
}

a{
    color: $LighterRed;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 3px 3px 0 $DARKGREY;
    &:hover{
        text-shadow: none;
        text-decoration: underline;
    }
}

#main-header{
    height : 100vh;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    margin: 0 0 25px 0;
    padding:0;
	background-color : #3b3b3b;
	background-image: url("../resources/media/img/banner/jostatu-intro-HD.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

    
    #under-construction{
        position: relative;
        top: 45%;
        left: 5%;
        width: 45%;
        padding: 5px 25px;
        background-color: $DarkGrey;
        border: 4px solid $DARKGREY;
        border-radius: 20px;
        font-size: small;
        
    }
}
